WebServices-1/TempConvertor/WebContent/wsdl/FahrenheitToCelcius.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fahrenheitToCelciusConvertor">
    <complexType>
     <sequence>
      <element name="f" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="fahrenheitToCelciusConvertorResponse">
    <complexType>
     <sequence>
      <element name="fahrenheitToCelciusConvertorReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="fahrenheitToCelciusConvertorRequest">

      <wsdl:part element="impl:fahrenheitToCelciusConvertor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fahrenheitToCelciusConvertorResponse">

      <wsdl:part element="impl:fahrenheitToCelciusConvertorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FahrenheitToCelcius">

      <wsdl:operation name="fahrenheitToCelciusConvertor">

         <wsdl:input message="impl:fahrenheitToCelciusConvertorRequest" name="fahrenheitToCelciusConvertorRequest">

       </wsdl:input>

         <wsdl:output message="impl:fahrenheitToCelciusConvertorResponse" name="fahrenheitToCelciusConvertorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FahrenheitToCelciusSoapBinding" type="impl:FahrenheitToCelcius">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fahrenheitToCelciusConvertor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fahrenheitToCelciusConvertorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fahrenheitToCelciusConvertorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FahrenheitToCelciusService">

      <wsdl:port binding="impl:FahrenheitToCelciusSoapBinding" name="FahrenheitToCelcius">

         <wsdlsoap:address location="http://localhost:8080/TempConvertor/services/FahrenheitToCelcius"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
